xmltojson/src/main/mule/xmltojson.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="99a048bc-35ff-4650-a50d-8b3577c52d8d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="xmltojsonFlow" doc:id="a767eb5b-5469-4930-a19d-1405ae8f33d9" >
		<http:listener doc:name="Listener" doc:id="3e3aebd4-06b6-4ddd-9f3d-424481af1476" config-ref="HTTP_Listener_config" path="/xml2json"/>
		<ee:transform doc:name="Transform Message" doc:id="c40a744e-b057-4c8b-9325-0316dcc30dc2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="21d6df51-8f2d-4f9d-bbe0-e9346a269eae" message="#[payload]"/>
	</flow>
</mule>
